@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Surfaces */
  --color-background: #F8F9FA;
  --color-card: #FFFFFF;
  --color-popover: #FFFFFF;
  --color-muted: #E8EAED;
  /* Brand */
  --color-primary: #155DFC;
  --color-primary-foreground: #FFFFFF;
  --color-secondary: #E8EAF6;
  --color-secondary-foreground: #202124;
  --color-accent: #E8F0FE;
  --color-accent-foreground: #183DB2;
  --color-destructive: #D93025;
  --color-destructive-foreground: #FFFFFF;
  /* Text */
  --color-foreground: #202124;
  --color-muted-foreground: #5F6368;
  /* System UI */
  --color-outline: #0000001F;
  --color-focus: #155DFC;
  --color-input-background: #F1F3F4;
  --color-switch-background: #BDC1C6;
  /* font-family */
  --font--roboto-flex: var(--font-roboto-flex);
  --font-noto-sans-jp: var(--font-noto-sans-jp);
}

.dark {
  /* Surfaces */
  --color-background: #0F172A;
  --color-card: #1E293B;
  --color-popover: #1E293B;
  --color-muted: #334155;
  /* Brand */
  --color-primary: #5993FF;
  --color-primary-foreground: #05113A;
  --color-secondary: #262626;
  --color-secondary-foreground: #FAFAFA;
  --color-accent: #0E1E47;
  --color-accent-foreground: #8EBAFF;
  --color-destructive: #82181A;
  --color-destructive-foreground: #FFFFFF;
  /* Text */
  --color-foreground: #F1F5F9;
  --color-muted-foreground: #94A3B8;
  /* System UI */
  --color-outline: #334155;
  --color-focus: #5993FF;
  --color-input-background: #F1F3F4;
  --color-switch-background: #BDC1C6;
}

/* Base styles */
@layer base {
  * {
    @apply border-outline;
  }

  body {
    @apply bg-background text-foreground font-noto-sans-jp;
  }
}